---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body{% if page.homepage %} class="home-template"{% endif %}>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main"{% if page.homepage %} class="site-main site-main--home"{% endif %}>
      {% unless page.homepage %}{% include sidebar.html %}{% endunless %}
    
      <article class="page{% if page.homepage %} page--home{% endif %}" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% if page.homepage %}
      <footer class="site-footer-home">
        <div class="site-container site-footer-home__inner">
          <div>© 2026 Songwei Liu · ByteDance</div>
          <div>Updated June 2026</div>
        </div>
      </footer>
    {% endif %}

    {% include scripts.html %}

  </body>
</html>
